# v2 syntax
version: '2'

services:

  simples.mysql:
    image: ambientum/mysql:5.7
    container_name: simples.mysql
    volumes:
      - ./.docker/mysql:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=database
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password

  simples.apache:
    image: ambientum/php:7.0-apache
    container_name: simples.apache
    volumes:
      - .:/var/www/app
    ports:
      - "8080:8080"
    links:
      - simples.mysql
